@tailwind base;
@tailwind components;
@tailwind utilities;

/* base css */
:root {
  --headerHeight: 70px;
}
/* usefull elements css */
.btn1 {
  @apply bg-purple-700 text-white;
}
.btn1:hover {
  @apply bg-purple-400 text-black;
}
.btn2 {
  @apply bg-yellow-700 text-white;
}
.btn2:hover {
  @apply bg-yellow-400 text-black;
}
/* header css */
header {
  height: var(--headerHeight);
}

header .menu a {
  @apply relative isolate flex overflow-hidden py-1;
}
header .menu a:hover {
  @apply text-purple-600;
}
header .menu a::before {
  content: "";
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease;
  @apply w-full h-1 bg-purple-500 absolute bottom-0 left-0;
}
header .menu a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width:768px) {
    header .menu{
        position: absolute;
        top: var(--headerHeight);
        left: 0;
        width: 100%;
        height: calc(100vh - var(--headerHeight));
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition:300ms cubic-bezier(0.165, 0.84, 0.44, 1);
        @apply bg-zinc-300 p-2 gap-2;
    }
    header .menu.active{
        opacity: 1;
        visibility: visible;
    }
    header .menu li a{
        @apply flex justify-center items-center w-fit mx-auto;
    }
}